/* Variable used for colors */
:root{
    --color1:white;
    --color2:white;
    --color3:white;
    --color4:white;
    --color5:white;
    --color6:white;
    --color7:white;
    --color8:black;
    --color9:white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color1);
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content: space-around;
    background-color: var(--color2);
}

#pageHead {
    font-size: 45px;
    background-color: var(--color3);
    margin-right: 30vw;
    padding: 25px 45px 25px 45px;
    border: 2px solid var(--color7);
    color: var(--color5);
    border-radius: 35px;
}

.search {
    font-size: 25px;
    height: 45px;
    padding: 15px;
    margin-top: 25px;
    background-color: var(--color4);
    border-radius: 15px;
}

#search::placeholder {
    color: var(--color1);
}

#location{
    display: flex;
}

.buttons{
    margin-top: 25px;
}

button {
    width: 50px;
    height: 45px;
    margin-left: 20px;
    background-color: var(--color3);
    border-radius: 5px;
}

.currentDay {
    background-color: var(--color3);
    width: 600px;
    padding: 50px;
    border: 1px solid var(--color5);
    border-radius: 20px;
    margin: auto;
    margin-top: 45px;
    font-size: 32px;
    color: var(--color8);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 var(--color9), 0 6px 20px 0 var(--color9);
}

.weatherDetails{
    text-align: left;
    color: var(--color8);
    font-size: 20px;
}

#flexBox1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weatherDetails #icon{
    width: 125px;
    display: inline;
}

#box1{
    border: 5px solid var(--color6);
    padding: 25px;
    border-radius: 25px;
}

.weatherDetails #temperature {
    font-size: 60px;
    display: inline;
}

#temperature img{
    font-size: 20px;
}

.weatherDetails #cityName{
    font-size: 25px;
    text-align: right;
}

.weatherDetails #description{
    text-transform: capitalize;
    padding: 0;
    margin:0;
    font-size: 25px;
    text-align: center;
}

#flexBox2{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;   
}

#flexBox3{
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#dateTime{
    text-align: center;
}

.history{
    align-self: center;
}

.historyButton{
    width: 100px;
}

.historyButton:hover{
    background-color: white;
    transition: .3s;
}

footer{
    text-align: right;
    font-size: 18px;
    padding: 15px;
    color: var(--color7);
}

/* Responsive under 1450px width */
@media (max-width: 1450px) {

    nav {
        display: flex
    }

    #pageHead{
        margin-right: 0;
    }
}

/* Responsive under 650px width */
@media (max-width: 650px) {

    .currentDay {
        width: 500px;
        padding-top: 35px;
    }

    #logo{
        margin: auto;
    }

    #box1{
        margin: auto;
    }

    #flexBox2{
        justify-content: space-evenly;
    }

    #sunrise, #sunset{
        text-align: center;
    }
}

/* Responsive under 520px width */
@media (max-width: 520px) {

    .currentDay {
        width: 400px;
    }

    #location{
        display: inline;
        text-align: center;
    } 
}

/* Responsive under 450px width */
@media (max-width: 450px) {

    .currentDay {
        width: 380px;
    }       
}